/* Estilos para el cuerpo y el fondo */
body {
    background-image: url('images/tiendita.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #444;
}

/* Estilos para la lista de navegación */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
}

/* Estilos para el contenido principal */
main {
    padding: 1rem;
}

/* Estilos para las secciones */
section {
    margin-bottom: 2rem;
}

/* Estilos para el texto legible */
.texto-legible {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos para la tabla desplazable */
.scrollable-table {
    overflow: auto;
    max-height: 400px;
}

/* Comentario separador para las secciones */
/* Sección de armas */
#armas,
#armaduras,
#accesorios,
#articulos-de-consumo,
#herramientas {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}

/* Sección de testimonios */
#testimonios {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Sección de galería */
#galeria {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Sección de nosotros */
#sobre-nosotros {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Sección de contacto */
#contacto {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Estilos adicionales para la tabla de escudos */
#escudos table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#escudos th,
#escudos td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

#escudos th {
    background-color: #e0e0e0;
}

#escudos table {
    opacity: 0.8;
}
